<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mti.vn.hrtool.dao.DepartmentMapper">
    <resultMap id="DepartmentResultMap" type="mti.vn.hrtool.models.Department">
        <id column="department_cd" property="departmentCd" />
        <result column="department_name" property="departmentName" />
        <result column="department_description" property="departmentDescription" />
    </resultMap>
    <select id="findAllDepartments" resultMap="DepartmentResultMap">
        SELECT * FROM department_mst
    </select>
</mapper>